---
const { repo, preview } = Astro.props;
const { url: previewUrl, aspectRatio = '16/9' } = preview;
const repoData = await fetch(`https://api.github.com/repos/${repo}`).then(res => res.json());
---

<div class="github-card w-full rounded-lg border border-gray-200 p-4 flex flex-col gap-2">
  <div class="flex">
    <div class="card-title flex items-center gap-2">
      <img
        src={repoData.owner.avatar_url}
        alt={repoData.owner.login}
        class="my-0! w-10 h-10 rounded-full"
      />
      <div>
        <div class="text-lg font-bold">{repoData.full_name}</div>
        <div class="text-sm text-gray-500">{repoData.description || 'description'}</div>
      </div>
    </div>
  </div>
  <div class="flex items-center gap-2">
    <span class="text-sm text-gray-500">{repoData.stargazers_count} stars</span>
    <span class="text-sm text-gray-500">{repoData.forks_count} forks</span>
    {repoData.license && <span class="text-sm text-gray-500">{repoData.license?.key}</span>}
  </div>
  {
    // tailwindcss不能使用props创建形如'aspect-[${aspectRatio}]'的动态类名
    // https://tailwindcss.com/docs/detecting-classes-in-source-files#dynamic-class-names
    previewUrl && (
      <div
        class:list={['preview-iframe w-full border border-gray-200 rounded-lg shadow-md']}
        style={`aspect-ratio: ${aspectRatio}`}
      >
        <iframe src={previewUrl} class="w-full h-full" />
      </div>
    )
  }
</div>
